.my_task_container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.task_boxs {
    display: grid;
    grid-template-columns: repeat(1, 800px);
    gap: 20px;
}

.task_status {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.task_status h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}


.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.filter select {
    cursor: pointer;
    height: 30px;
}



@media screen and (max-width: 874px) {
    .task_boxs {
        grid-template-columns: repeat(1, 95vw);
    }
}

@media screen and (max-width:480px) {
    .task_status {
        flex-direction: column;
    }
}