.dashBarContainer {
    width: 300px;
    height: calc(100vh - 50px);
    background-color: #ededed;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;

}

.dashLogo {
    width: 150px;
}

.dashLinks {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dashLinks a {
    color: black;
    padding: 20px 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 11px;
    font-size: 18px;
}


.dashLinks a:hover {
    background-color: #37b6ff4e;
}

.dashLinks .active {
    background-color: #37b5ff;
    color: white !important;
}


.dashLinks .active:hover {
    background-color: #37b5ff;
    color: white !important;
}

.mobileDashbar {
    display: none;
    background-color: #37b5ff;
    font-size: 34px;
    padding: 10px 26px;
    color: white;
    position: relative;

}

.dashbarModal {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 23px;
    justify-content: center;
    align-items: flex-start;
    gap: 31px;
    background: white;
    padding: 14px 26px;
    box-shadow: 0 2px 16.8px 3.2px #00264214;
    border-radius: 5px;
    padding: 14px 26px;
    border-radius: 5px;
    right: 0;
    top: 50px;
    z-index: 99;
}


.dashbarModal a {
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

}


.dashbarModal .active {
    color: #37b5ff;
    text-decoration: underline;
}

@media screen and (max-width: 1250px) {
    .mobileDashbar {
        display: flex;
        justify-content: flex-end;
    }

    .dashBarContainer {
        display: none;
    }
}

@media screen and (min-width: 1921px) {}