.bannerContainer {
    height: 100vh;
    max-width: calc(1300px - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 35px;
}

.bannerTxt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}

.bannerTxt h1 {
    font-size: 65px;
    background: linear-gradient(to right, #37b5ff, #1a1ac8);
    -webkit-background-clip: text;
    color: transparent;
}


.bannerTxt .exploreBtn {
    border: none;
    background: linear-gradient(#36b2fe, #5549f7);
    color: white;
    padding: 9px 22px;
    font-size: 21px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.bannerTxt .exploreBtn:hover {
    background: linear-gradient(#36b2fe, #5549f7);
    box-shadow: inset 180px 0 #5549f7;

}






@media screen and (max-width: 499px) {
    .bannerImg img {
        width: 80%
    }

    .bannerTxt h1 {
        font-size: 50px;
    }

    .bannerContainer {
        flex-direction: column-reverse;
        justify-content: center;
    }
}

@media screen and (min-width: 499px) and (max-width: 843px) {
    .bannerImg img {
        width: 500px;
    }



    .bannerContainer {
        flex-direction: column-reverse;
        justify-content: center;
    }
}

@media screen and (min-width: 843px) and (max-width: 1170px) {
    .bannerImg img {
        width: 400px;
    }
}

@media screen and (min-width: 1921px) {}