.dashoboardContainer {
    display: flex;
    justify-content: space-between;
    align-items: centerd;
}


.dashOutlet {
    width: calc(100vw - 300px);
    height: 100vh;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
}



@media screen and (max-width: 1250px) {

    .dashoboardContainer {
        flex-direction: column;

    }

    .dashOutlet {
        width: 100vw;
    }


}